{% extends "layout.html" %}

{% block title %}{{params["gym_name"]}} - Attendance{% endblock %}

<body>
{% block body %}

<div class="container px-3 py-4 bg-dark text-white">
<h2 class="text-center my-2 bg-warning text-dark"> Attendance List</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class='text-center flashes'>
    {% for message in messages %}
      <strong class="text-success">{{ message }}</strong>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form class="w-50 pt-2 mx-auto" action="" method="post" name="myform">
    <input class="form-control mr-sm-2 mb-3" type="search" placeholder="Search" aria-label="Search" name="search">
    <div class="text-center">
      <button class="btn btn-outline-success pt-2" type="submit">Search</button>
      </div>
   
</form>

<div class="container my-5 text-center">
<table class="table table-dark table-responsive border border-white">
    <thead>
      <tr>
        <th>Sno</th>
        <th>User Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

      {% if alldata|length != 0 %}
      {% for data in alldata %}
      <tr>
        <td>{{data.sno}}</td>
        <td>{{data.userName}}</td>
        <td>{{data.date}}</td>
        <td>{{data.message}}</td>
        <td><a href="/attendance_edit/{{data.sno}}"><button class="btn btn-primary" >Edit</button></a></td>
        <td><a href="/attendance_delete/{{data.sno}}"><button class="btn btn-danger">Delete</button></a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
                <td colspan="6">
                    <span class="text-right">No Data Found</span>
                </td>
            </tr>
      {% endif %}

    </tbody>
  </table>
  </div>
</div>
{% endblock %}
</body>