{% extends "layout.html" %}

{% block title %}{{params["gym_name"]}} - Attendance{% endblock %}

<body>
{% block body %}

<div class="container px-3 py-4 bg-dark text-white">
<h2 class="text-center my-2 bg-warning text-dark"> Attendance</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class='text-center flashes'>
    {% for message in messages %}
      <strong class="text-success">{{ message }}</strong>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form class="pt-2" action="/attendance_info" method="post" name="myform" onsubmit="return validateAttendance()">
    <div class="form-group">
      <label for="inputName">Name</label>
      <select id="inputName" class="form-control" name="username">
        <option selected>Select Name</option>
        {% for n,m in name%}
        <option value="{{n}} {{m}}">{{n}} {{m}}</option>
        {% endfor %}
      </select>
    </div>
  <div class="form-group">
    <label for="inputDate">Payment Date</label>
    <input type="text" class="form-control" id="inputDate" placeholder="Payment Date" name="date">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="message" rows="3"  name="message"></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-info">Save</button>
</form>
</div>
{% endblock %}
</body>
{% block js %} 
<script src="{{ url_for('static', filename='js/attendance.js') }}"></script>
{% endblock %}