{% extends "layout.html" %}

{% block title %}{{params["gym_name"]}} - Shifts{% endblock %}

<body>
{% block body %}

<div class="container px-3 py-4 bg-dark text-white">
<h2 class="text-center my-2 bg-warning text-dark"> Update Shift Details</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class='text-center flashes'>
    {% for message in messages %}
      <strong class="text-success">{{ message }}</strong>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form class="pt-2" action="/shift_edit/{{sno}}" method="post" onsubmit="return validateShift()" name="myform">
    <div class="form-group">
    <label for="inputSno">Sno</label>
    <input type="text" class="form-control" id="inputSno" placeholder="Serial Number"  name="sno" value="{{data.sno}}" readonly>
  </div>
  <div class="form-group">
    <label for="inputTitle">Shift Title</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Shift Title" name="title" value="{{data.title}}">
  </div>
  <div class="form-group">
    <label for="inputFrom">Shift From</label>
    <input type="text" class="form-control" id="inputFrom" placeholder="Shift From" name="shiftFrom" value="{{data.shiftFrom}}">
  </div>
  <div class="form-group">
    <label for="inputTo">Shift To</label>
    <input type="text" class="form-control" id="inputTo" placeholder="Shift To" name="shiftTo" value="{{data.shiftTo}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message">{{data.message}}</textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-info">Save</button>
</form>
</div>
{% endblock %}
</body>
{% block js %} 
<script src="{{ url_for('static', filename='js/shift.js') }}"></script>
{% endblock %}